@charset "UTF-8";

@import url('../normalize.css');
@import url('../reset.css');
@import url('../fonts.css');
@import url('../colors.css');
@import url('../forms.css');
@import url('../footer.css');

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}

body {
    display: grid;
    grid-template: 1fr min-content / 1fr;
    background-color: hsl(0, 0%, 95%);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

h1 {
    color: hsl(0, 0%, 99%);
    background-color: var(--color-main);
    padding: 0.2rem 1.2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 3rem;
}

form {
    width: 100%;
}

@media screen and (min-width: 350px) {

    main {
        border-radius: 0.2rem;
    }

    form {
        width: calc(350px - 2rem);
    }
}
