{% extends "base.html" %}

{% set title = 'Épreuves' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Épreuves</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('assessments.assessment') }}">
                + Ajouter
            </a>
        </li>
    </menu>
</div>

<ul class="cards">
    {% for assessment in assessments %}
    <li>
        <div class="header">
            {{ assessment.title }}
        </div>
        <ul class="content">
            <li>
                <em>Date de création : </em>
                {{ assessment.creation_date.strftime('%d/%m/%Y') }}
            </li>
            <li>
                <em>Auteur : </em>
                {{ assessment.creator }}
            </li>
        </ul>
        <div class="footer quick-actions">
            <a href="{{ url_for('assessments.assessment', identifier=assessment.identifier) }}">
                Ouvrir
            </a>
            <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.assessment', identifier=assessment.identifier) }}')">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
