{% extends "base.html" %}

{% set title = 'Rapports' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Rapports</h1>

    <menu type="toolbar">
        <li>
            <a href="{{ url_for('reports.report') }}">
                + Ajouter
            </a>
        </li>
    </menu>
</div>

<ul class="cards">
    {% for report in reports %}
    <li>
        <div class="header">
            {{ report.title }}
        </div>
        <div class="footer quick-actions">
            <a href="{{url_for('reports.report',identifier=report.identifier)}}">
                Ouvrir
            </a>
            <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.report', identifier=report.identifier) }}')">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
