{% extends "base.html" %}

{% set title = rep.title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/ranking.css') }}">
{% endblock %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>
        {{ rep.title }}
    </h1>
    {% for data in rep.data %}
    <section>
        <h2>{{ data.group_name }}</h2>

        <table class="statistics">
            <thead>
                <tr>
                    <th>Effectif</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                    <th>Moyenne</th>
                    <th>Médiane</th>
                    <th>Coefficient</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.statistics.size }}</td>
                    <td>{{ data.statistics.minimum|round(rep.assessment.precision) }}</td>
                    <td>{{ data.statistics.maximum|round(rep.assessment.precision) }}</td>
                    <td>{{ data.statistics.mean|round(rep.assessment.precision) }}</td>
                    <td>{{ data.statistics.median|round(rep.assessment.precision) }}</td>
                    <td>{{ rep.assessment.coefficient }}</td>
                </tr>
            </tbody>
        </table>

        <svg viewBox="0 0 432 288">
        {% autoescape false %}
            {{ data.histogram }}
        {% endautoescape %}
        </svg>

        <table class="results">
            <thead>
                <tr>
                    <th class="left-align">Anonymat</th>
                    <th class="left-align">Note brute</th>
                    <th class="left-align">Note</th>
                    <th class="right-align">Rang</th>
                </tr>
            </thead>
            <tbody>
                {% for rank in data.ranking.ranks %}
                <tr>
                    <td class="left-align">
                        <strong>
                            {{ rank.item.student.identifier }}
                        </strong>
                    </td>
                    <td class="left-align">
                        {{ rank.item.score|round(rep.assessment.precision) }}
                    </td>
                    <td class="left-align">
                        {{ rank.score|round(rep.assessment.precision) }}
                    </td>
                    <td class="right-align">
                        <strong>{{ rank.position }}</strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
{% endblock %}
