{% extends "base.html" %}

{% set title = 'Nouveau rapport' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Nouveau rapport de classement</h1>
</div>

<form method="post">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <div role="group">
        {{ form.assessments.label }}
        {{ form.assessments() }}
    </div>

    <div role="group">
        {{ form.subgroups.label }}
        {{ form.subgroups() }}
    </div>

    <input type="submit" value="Créer">
</form>
{% endblock %}
