# System
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Packaging / Environment / Distribution
.vscode
.mypy_cache
.env

# Others
linnote/ressources/public/media/**

# Configuration
*.cfg
*.ini

# TLS
*crt*
*key*
