# System
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Packaging / Environment / Distribution
env
build
dist
*.egg
*.egg-info

# Others
linnote/ressources/private/groups/**
linnote/ressources/private/rankings/**
linnote/ressources/private/results/**
linnote/ressources/public/media/**

# Configuration
*.cfg
*.ini
