[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-talisman = "*"
flask-wtf = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
alembic = "*"
pandas = "*"
xlrd = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
mypy = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
