{% extends 'base.html' %}

{% set module = 'compte' %}
{% set section = 'sécurité' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>compte</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('account.logout') }}">
                Déconnexion
            </a>
        </li>
    </menu>
    {% include 'account/menu.html' %}
</header>

<section>
    <header>
        <h2>Mot de passe</h2>
        <input form="password" type="submit" value="enregistrer">
    </header>
    <div class="sub">
        <form id="password" method="post">
            {{ form.csrf_token }}

            {% if form.old_password %}
            <div role="group">
                {{ form.old_password.label }}
                {{ form.old_password() }}
            </div>
            {% endif %}

            <div role="group">
                {{ form.password.label }}
                {{ form.password() }}
            </div>

            <div role="group">
                {{ form.password_confirm.label }}
                {{ form.password_confirm() }}
            </div>
        </form>
    </div>
</section>
{% endblock %}
