<header>
    <!-- Brand -->
    <a id="brand" href="#">
        linnote
    </a>

    <!-- Main menu -->
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('users.users') }}">
                    Utilisateurs
                </a>
            </li>
            <li>
                <a href="{{ url_for('users.groups') }}">
                    Étudiants
                </a>
            </li>
            <li>
                <a href="{{ url_for('assessments.assessments') }}">
                    Épreuves
                </a>
            </li>
            <li>
                <a href="{{ url_for('reports.reports') }}">
                    Rapports
                </a>
            </li>
            <li>
                <a href="{{ url_for('account.profile') }}">
                    Compte
                </a>
            </li>
        </ul>
    </nav>
</header>
