{% extends "base.html" %}

{% set title = 'Groupes' %}
{% set active_page = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
    <div class="module">
        <div role="navigation">
            <h1>Utilisateurs</h1>
            <menu type="navigation">
                <li>
                    <a href="{{ url_for('users.users') }}">
                        Utilisateurs
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('users.groups') }}">
                        Groupes
                    </a>
                </li>
            </menu>
        </div>
        <div role="toolbar">
            <menu type="toolbar">
                <li>
                    <a href="{{ url_for('users.group') }}">
                        Ajouter
                    </a>
                </li>
            </menu>
        </div>
    </div>
{% endblock %}

{% block content %}
<ul class="cards">
    {% for group in groups %}
    <li>
        <div class="header">
            <p>
                {{ group.name }}
            </p>
        </div>
        <div class="footer quick-actions">
            <button class="xhr" type="button" name="button" data-method="delete" data-action="{{ url_for('api.group', identifier=group.identifier) }}">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
