{% extends "base.html" %}

{% set title = 'Groupes' %}
{% set module = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>Utilisateurs</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('users.group_creation') }}">
                Ajouter
            </a>
        </li>
    </menu>
    <menu type="navigation">
        <li>
            <a href="{{ url_for('users.users') }}">
                personnes
            </a>
        </li>
        <li>
            <a href="{{ url_for('users.groups') }}">
                groupes
            </a>
        </li>
    </menu>
</header>
<ul class="cards">
    {% for group in groups %}
    <li>
        <div class="header">
            <p>
                {{ group.name }}
            </p>
        </div>
        <div class="footer quick-actions">
            <a href="{{ url_for('users.group', identifier=group.identifier) }}">Ouvrir</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
