@charset "UTF-8";

.cards {
    display: grid;
    grid-template: min-content / 1fr;
    grid-gap: 1.5rem .5rem;
}

@media screen and (min-width: 600px) {
    .cards {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .cards {
        grid-template: auto / repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .cards {
        grid-template: auto / repeat(4, 1fr);
    }
}

.cards [type="button"], .cards button {
    display: inline-block;
}

.cards > li {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: hsl(0, 0%, 90%);
    transition: all 200ms ease-out;
}

.cards > li > :nth-child(n) {
    flex: 0 0 auto;
}

.cards > li .content {
    flex-grow: 1;
    flex-shrink: 1;
}

.cards > li .header, .cards > li .content, .cards > li .footer {
    padding: 0.8rem 1rem;
}

.cards > li .header {
    border-bottom: 1px solid hsl(0, 0%, 85%);
    font-weight: bolder;
}

.cards > li > :last-child {
    border: none;
}

.cards li:hover, li:active, li:focus {
    transition: all 100ms ease-in;
    background-color: hsl(0, 0%, 85%);
}

.cards > li > :not(:last-child) {
    border-bottom-color: hsl(0, 0%, 80%);
}

.cards a, .cards button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 0.9rem;
    font-weight: normal;
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    transition: all 100ms ease-out;
    border-radius: 3px;
}

.cards a:hover, .cards button:hover, .cards a:focus, .cards button:focus{
    color: white;
    background-color: var(--color-main);
    transition: color 300ms ease-in;
    transition: all 300ms ease-in;
}

.cards a:hover {
    text-decoration: underline;
}

.quick-actions {
    display: flex;
}

.quick-actions a, .quick-actions button {
    max-width: initial;
}

.quick-actions :not(:last-child) {
    margin-right: 0.5rem;
}

.quick-actions > :nth-child(n) {
    flex: 1 1 100%;
}

.cards em {
    font-weight: bolder;
    font-style: normal;
}
