@charset "UTF-8";

.cards {
    display: grid;
    grid-template: min-content / 1fr;
    grid-gap: 1rem;
}

@media screen and (min-width: 600px) {
    .cards {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .cards {
        grid-template: auto / repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .cards {
        grid-template: auto / repeat(4, 1fr);
    }
}

.cards [type="button"], .cards button {
    display: inline-block;
}

.cards > li {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: hsl(0, 0%, 90%);
    transition: all 200ms ease-out;
}

.cards > li > * {
    flex: 1 1 auto;
}

.cards > li .header, .cards > li .content, .cards > li .footer {
    padding: 0.8rem 1rem;
}

.cards > li .header {
    border-bottom: 1px solid hsl(0, 0%, 85%);
    font-weight: bolder;
}

.cards > li > *:last-child {
    border: none;
}

.cards li:hover, li:active, li:focus {
    transition: all 100ms ease-in;
    background-color: hsl(0, 0%, 85%);
}

.cards > li > :not(:last-child) {
    border-bottom-color: hsl(0, 0%, 80%);
}
