@charset "UTF-8";

footer {
    --footer-color-text: hsl(0, 0%, 70%);
    --footer-color-text-highlight: hsl(0, 0%, 90%);

    padding: 0.6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--footer-color-text);
    background-color: hsl(0, 0%, 12%);
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: center;
}

footer a {
    border-bottom: 0.1rem solid var(--footer-color-text);
}

footer a:hover {
    border-bottom: 0.15rem solid var(--footer-color-text-highlight);
    color: var(--footer-color-text-highlight);
    background-color: hsla(0, 0%, 100%, 0.08);
}

@media screen and (min-width: 590px) {
    footer {
        flex-flow: row nowrap;
    }
}
