@charset "UTF-8";

label {
    font-weight: bolder;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.5rem;
    border: 0.15rem solid rgb(200, 200, 200);
    border-radius: 0.15rem;
    line-height: 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus {
    border: 0.15rem solid rgb(100, 100, 100);
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, input[type="url"]:invalid {
    border: 0.15rem solid #B02726;
}

label {
    display: block;
    margin-bottom: 0.15rem;
}

form .control {
    margin-bottom: 1rem;
    display: block;
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

form fieldset > * {
    flex: 1 1 auto;
    margin: 0 1rem;
}

form fieldset > *:first-child {
    margin-left: 0;
}

form fieldset > *:last-child {
    margin-right: 0;
}
