@charset "UTF-8";

form {
    box-sizing: border-box;
    padding: 1.5rem 1rem;
}


form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

form fieldset > * {
    flex: 1 1 auto;
    margin: 0 1rem;
}

form fieldset > *:first-child {
    margin-left: 0;
}

form fieldset > *:last-child {
    margin-right: 0;
}

form [role="group"] {
    margin-bottom: 1rem;
    display: block;
}

label {
    display: block;
    margin-bottom: 0.15rem;
    font-weight: bold;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    line-height: 1.5rem;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.5rem;
    border: 0.15rem solid rgb(200, 200, 200);
    border-radius: 0.15rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus {
    border: 0.15rem solid rgb(100, 100, 100);
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, input[type="url"]:invalid {
    border: 0.15rem solid #B02726;
}

input[type="submit"], input[type="reset"] {
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border: 0.1rem solid var(--color-main-deep);
    border-radius: 0.15rem;
    color: white;
    text-transform: capitalize;
    background-color: var(--color-main);
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, input[type="submit"]:active, input[type="reset"]:active {
    background-color: var(--color-main-light);
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
