@charset "UTF-8";


fieldset {
    display: grid !important;
    grid-gap: 1rem;
    border: none;
    border-radius: 0.15rem;
    margin-bottom: 1rem;
}

fieldset > legend {
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    color: inherit;
    border-bottom: 2px solid black;
    font-weight: bold;
    text-transform: uppercase;
}

form fieldset > [role="group"] {
    margin: 0;
}

@media screen and (min-width: 500px) {
    form fieldset {
        grid-template-columns: repeat(2, 1fr);
    }
}

form [role="group"] {
    margin-bottom: 1rem;
    display: block;
}

label {
    display: block;
    margin-bottom: 0.15rem;
    font-weight: bold;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    line-height: 1.5rem;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.5rem;
    border: 0.15rem solid rgb(200, 200, 200);
    border-radius: 0.15rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus {
    border: 0.15rem solid rgb(100, 100, 100);
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, input[type="url"]:invalid {
    border: 0.15rem solid #B02726;
}

input[type="submit"], input[type="reset"] {
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border: 0.1rem solid var(--color-main-deep);
    border-radius: 0.15rem;
    color: white;
    text-transform: capitalize;
    background-color: var(--color-main);
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, input[type="submit"]:active, input[type="reset"]:active {
    background-color: var(--color-main-light);
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
