@charset "UTF-8";
/*
CSS for the header.

Author: Anatole Hanniet, 2016-2018.
License: Mozilla Public License, see 'LICENSE.txt' for details.
*/

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 1.4rem;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
}

header > :not(:last-child) {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 550px) {
    header {
        flex-flow: row nowrap;
        padding: 0.2rem;
    }

    header > * {
        margin: 0 !important;
    }
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 100%, 100%, 0.8);
    transition: color 100ms ease-out;
}

header a:hover, header a:focus, header a:active {
    color: white;
    transition: color 100ms ease-in;
}

#brand {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

nav {
    font-family: 400;
}

nav ul {
    display: flex;
    max-width: calc(100vw - 2rem);
    overflow-x: scroll;
}

nav a {
    font-size: 0.9rem;
    text-transform: capitalize;
}

nav ul li:not(:last-child) {
    margin-right: 0.7rem;
}
