@charset "UTF-8";

@import url('normalize.css');
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('header.css');
@import url('footer.css');
@import url('forms.css');
@import url('cards.css');
@import url('messages.css');

html {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

body {
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
}

header, footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    display: grid;
    grid-template: repeat(2, min-content) / 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1rem 2rem;
}

main > :nth-child(n) {
    padding: 1rem;
}

.topping {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1.5rem 0;
    background-color: rgb(240, 240, 240);
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(2, min-content) / 1fr;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.topping > :not(:first-child) {
    margin-top: 1rem;
}

[role="navigation"].secondary, menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

[role="navigation"].secondary > li, menu > li {
    display: flex;
    margin: 0.15rem;
}

[role="navigation"].secondary a, menu a {
    padding: 0.5rem 1.5rem;
    width: 100%;
    font-weight: bold;
    color: rgb(120, 120, 120);
    text-align: center;
    border-radius: 40px;
    background-color: rgba(209, 209, 209, 0.671);
}

[role="navigation"].secondary a:hover, menu a:hover {
    color: white;
    background-color: rgb(180, 180, 180);
}

main > * {
    grid-column: 1 / -1;
}

@media screen and (min-width: 600px) {
    main {
        grid-template: min-content / repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template: min-content / repeat(4, 1fr);
    }

    .topping {
        grid-template: 1fr / repeat(2, 1fr);
    }

    .topping:first-child {
        text-align: left;
    }

    .topping > :not(:first-child) {
        margin-top: 0;
    }

    [role="navigation"].secondary, menu {
        grid-column: 2 / 3;
        justify-content: flex-end;
    }

    [role="navigation"].secondary > li {
        margin: 0;
    }

    [role="navigation"].secondary li:not(:last-child) {
        margin-right: 0.3rem;
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template: min-content / repeat(6, 1fr);
    }
}

h1 {
    margin: 0;
    display: block;
    color: rgb(50, 50, 50);
}

a[type="button"]:hover, button:hover {
    background-color: var(--color-main-light);
}

a, button {
    cursor: pointer;
}

[type="button"], button {
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    max-width: 10rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.15rem;
    color: white;
    background-color: var(--color-main);
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
}

/* Flex tables */

[role="table"].flex [role="row"] {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 0.3rem;
    padding: 1rem;
}

[role="table"].flex > [role="row"] > [role="cell"]:not(:last-child) {
    margin-right: 0.5rem;
}

[role="table"].flex [role="row"] [role="cell"] .heading {
    display: block;
    font-weight: bold;
}

em {
    font-weight: bolder;
    font-style: normal;
}
