@charset "UTF-8";

@import url('normalize.css');
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');

html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

body {
    min-height: 100%;
    display: grid;
    grid-template: 3rem 1fr auto / none;
}

header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
}

header #brand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
}

header #brand:hover {
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

nav a:hover {
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.33);
}

main {
    padding: 1rem 2rem;
}

footer {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
    background-color: #242729;
}

menu {
    margin-bottom: 2rem;
}

footer a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.1rem solid rgb(100, 100, 100);
}

footer a:hover {
    color: rgb(120, 120, 120);
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 0.15rem solid white;
}

menu a {
    padding: 0.25rem 0.5rem;
    background-color: rgb(200, 200, 200);
    border-radius: 0.2rem;
    color: inherit;
    text-decoration: none;
}

menu a:hover {
    background-color: rgb(180, 180, 180);
}

label {
    font-weight: bolder;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.5rem;
    border: 0.15rem solid rgb(200, 200, 200);
    border-radius: 0.15rem;
    line-height: 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus {
    border: 0.15rem solid rgb(100, 100, 100);
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, input[type="url"]:invalid {
    border: 0.15rem solid #B02726;
}

label {
    display: block;
    margin-bottom: 0.15rem;
}

form .control {
    margin-bottom: 1rem;
    display: block;
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

form fieldset > * {
    flex: 1 1 auto;
    margin: 0 1rem;
}

form fieldset > *:first-child {
    margin-left: 0;
}

form fieldset > *:last-child {
    margin-right: 0;
}

a[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: var(--color-main-light);
}

a, input[type="submit"], button {
    cursor: pointer;
}

[type="button"], [type="submit"], [type="reset"], button {
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    max-width: 10rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.15rem;
    color: white;
    background-color: var(--color-main);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
}

.cards {
    display: grid;
    grid-gap: 1rem;
}

.cards [type="button"], .cards button {
    display: inline-block;
}

.cards > li {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgb(200, 200, 200);
    border-radius: 0.2rem;
}

.cards > li > * {
    flex: 1 1 auto;
}

.cards > li .header, .cards > li .content, .cards > li .footer {
    padding: 0.8rem 1rem;
}

.cards > li .header {
    background-color: rgb(230, 230, 230);
    font-weight: bolder;
    border-bottom: 0.15rem solid rgb(200, 200, 200);
}

.cards li:hover {
    box-shadow: 0px 0px 2px 0px #B5B5B5;
}

@media only screen and (min-width: 600px) {
    .cards {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .cards {
        grid-template: auto / repeat(4, 1fr);
    }
}

h1 {
    display: block;
    color: rgb(20, 20, 20);
}

p.message {
    border-left: 0.8rem solid var(--color-neutral);
    padding: 0.8rem 1rem;
    background-color: var(--color-neutral-light);
}

*.success {
    border-color: var(--color-success) !important;
    background-color: var(--color-success-light) !important;
}

*.error {
    border-color: var(--color-error) !important;
    background-color: var(--color-error-light) !important;
}
