{% extends "base.html" %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {{ form.title.label }}
    {{ form.title(autocomplete="off") }}

    {{ form.results.label }}
    {{ form.results() }}

    {{ form.scale.label }}
    {{ form.scale(autocomplete="off") }}

    {{ form.coefficient.label }}
    {{ form.coefficient(autocomplete="off") }}

    {{ form.precision.label }}
    {{ form.precision(autocomplete="off") }}

    <input type="submit" value="Créer">
</form>
{% endblock %}
