<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>linnote</title>

        <link rel="stylesheet" media="all" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" media="all" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" media="all" href="{{ url_for('static', filename='master.css') }}">
    </head>
    <body>
        <header>
            <h1>
                <a href="/">
                    linnote
                </a>
            </h1>

            <nav>
                <ul>
                    <li>
                        <a href="/assessments">Épreuves</a>
                    </li>
                    <li>
                        <a href="/reports">Classements</a>
                    </li>
                    <li>
                        <a href="#">Préférences</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        {% block content %}
            Hello The World !
        {% endblock %}
        </main>
        <footer>
            <p>
                Copyright © 2014-2017, <a href="https://github.com/natolh">A. HANNIET</a> — <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License</a>.
            </p>
        </footer>
    </body>
</html>
