<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="fr">

        <title>{{ rep.title }}</title>
        <meta name="author" content="Tutorat Santé Lyon Sud">

        <link rel="stylesheet" type="text/css" media="all" href="../linnote/statics/main.css">
    </head>

    <body>
        <main>
            {% for data in rep.data %}
            <section>
                <h1>
                    {{ rep.title }}<br>
                    <span class="subheader">{{ data.group.name }}</span>
                </h1>

                <table id="statistics">
                    <thead>
                        <tr>
                            <th>Effectif</th>
                            <th>Minimum</th>
                            <th>Maximum</th>
                            <th>Moyenne</th>
                            <th>Médiane</th>
                            <th>Coefficient</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ data.statistics.size }}</td>
                            <td>{{ data.statistics.minimum }}</td>
                            <td>{{ data.statistics.maximum }}</td>
                            <td>{{ data.statistics.mean }}</td>
                            <td>{{ data.statistics.median }}</td>
                            <td>{{ rep.assessment.coefficient }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>
            {% endfor %}
        </main>
    </body>
</html>
