{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <h1>Mon compte</h1>

    <ul class="secondary" role="navigation">
        <li>
            <a href="{{ url_for('account.profile') }}">
                Profil
            </a>
        </li>
        <li>
            <a href="{{ url_for('account.password') }}">
                Mot de passe
            </a>
        </li>
        <li>
            <a href="{{ url_for('account.logout') }}">
                Déconnexion
            </a>
        </li>
    </ul>
{% endblock %}
