{% extends 'base.html' %}

{% block head %}
    {{ super() }}

    <!-- Style -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/master.css') }}">

    <!-- Animation -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/master.js') }}" defer></script>
</head>
{% endblock %}

{% block body %}
    <header>
        <a id="brand" href="/">
            linnote
        </a>

        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('admin.groups') }}">Étudiants</a>
                </li>
                <li>
                    <a href="{{ url_for('admin.assessments') }}">Épreuves</a>
                </li>
                <li>
                    <a href="{{ url_for('admin.reports') }}">Rapports</a>
                </li>
                <li>
                    <a href="{{ url_for('account.profile') }}">
                        {{ current_user.firstname }}
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>Mon compte</h1>

    <ul class="secondary" role="navigation">
        <li>
            <a href="{{ url_for('account.profile') }}">
                Paramètres
            </a>
        </li>
        <li>
            <a href="{{ url_for('account.password') }}">
                Mot de passe
            </a>
        </li>
        <li>
            <a href="{{ url_for('auth.logout') }}">
                Déconnexion
            </a>
        </li>
    </ul>
{% endblock %}
