{% extends 'base.html' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Mon compte</h1>
    {% include 'account/menu.html' %}
</div>

<form method="post">
    {{ form.csrf_token }}

    <div role="group">
        {{ form.old_password.label }}
        {{ form.old_password() }}
    </div>

    <div role="group">
        {{ form.password.label }}
        {{ form.password() }}
    </div>

    <div role="group">
        {{ form.password_confirm.label }}
        {{ form.password_confirm() }}
    </div>

    <input type="submit" value="enregistrer">
</form>
{% endblock %}
