{% extends 'account/base.html' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <form method="post">
        {{ form.csrf_token }}

        <fieldset>
            <div role="group">
                {{ form.firstname.label }}
                {{ form.firstname() }}
            </div>

            <div role="group">
                {{ form.lastname.label }}
                {{ form.lastname() }}
            </div>
        </fieldset>

        <div role="group">
            {{ form.email.label }}
            {{ form.email() }}
        </div>

        <input type="submit" value="enregistrer">
    </form>
{% endblock %}
