{% extends "base.html" %}

{% set title = 'Utilisateurs' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Utilisateurs</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('users.user') }}">
                + Ajouter
            </a>
        </li>
    </menu>
</div>

<ul class="cards">
    {% for user in users %}
    <li>
        <div class="header">
            <p>
                {{ user.fullname }}
            </p>
        </div>
        <div class="content">
            <em>Email</em> : {{ user.email }}
        </div>
        <div class="footer quick-actions">
            <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.user', identifier=user.identifier) }}')">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
