{% extends "base.html" %}

{% set title = 'Nouvel utilisateur' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Nouvel utilisateur</h1>
</div>

<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <fieldset>
        <div role="group">
            {{ form.firstname.label }}
            {{ form.firstname(autofocus="on") }}
        </div>

        <div role="group">
            {{ form.lastname.label }}
            {{ form.lastname() }}
        </div>
    </fieldset>

    <div role="group">
        {{ form.email.label }}
        {{ form.email() }}
    </div>

    <div role="group">
        {{ form.password.label }}
        {{ form.password() }}
    </div>

    <input type="submit" value="Créer">
</form>
{% endblock %}
