{% extends "base.html" %}

{% set title = 'Groupes' %}
{% set active_page = 'utilisateurs' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Groupes</h1>

    <menu type="toolbar">
        <li>
            <a href="{{ url_for('users.group') }}">
                + Ajouter
            </a>
        </li>
        <li>
            <a href="{{ url_for('users.users') }}">
                Utilisateurs
            </a>
        </li>
    </menu>
</div>

<ul class="cards">
    {% for group in groups %}
    <li>
        <div class="header">
            <p>
                {{ group.name }}
            </p>
        </div>
        <div class="footer quick-actions">
            <button class="xhr" type="button" name="button" data-method="delete" data-action="{{ url_for('api.group', identifier=group.identifier) }}">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
