{% extends "base.html" %}

{% set title = 'Groupes' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Groupes d'étudiants</h1>

<menu type="toolbar">
    <li>
        <a href="{{ url_for('users.group') }}">
            Créer
        </a>
    </li>
</menu>

<ul class="cards">
    {% for group in groups %}
    <li>
        <div class="header">
            <p>
                {{ group.name }}
            </p>
        </div>
        <div class="footer">
            <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.group', identifier=group.identifier) }}')">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
