{% extends "base.html" %}

{% set title = 'Nouveau groupe' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>Nouveau groupe d'étudiants</h1>
</div>

<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <div role="group">
        {{ form.students.label }}
        {{ form.students() }}
    </div>

    <input type="submit" value="Créer">
</form>
{% endblock %}
