{% extends "base.html" %}

{% set title = 'Nouvelle épreuve' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    {% if assessment is defined %}
        <div>
            <h1>{{ assessment.title }}</h1>
            <p>Créé par <em>{{ assessment.creator|default('un inconnu', True) }}</em>, le <em>{{ assessment.creation_date.strftime('%d/%m/%Y') }}</em></p>
        </div>
        {% include 'assessments/assessment/menu.html' %}
    {% else %}
        <h1>
            Nouvelle épreuve
        </h1>
    {% endif %}
</div>

<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <fieldset>
        <div role="group">
            {{ form.coefficient.label }}
            {{ form.coefficient(type="number", autocomplete="off") }}
         </div>
         <div role="group">
            {{ form.precision.label }}
            {{ form.precision(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Importer des notes</legend>

        <div role="group">
            {{ form.results.label }}
            {{ form.results() }}
        </div>
        <div role="group">
            {{ form.scale.label }}
            {{ form.scale(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    {% if assessment is defined %}
        <input type="submit" value="Modifier">
    {% else %}
        <input type="submit" value="Créer">
    {% endif %}
</form>
{% endblock %}
