{% extends "assessments/assessment/base.html" %}

{% set title = 'Nouvelle épreuve' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Nouvelle épreuve</h1>

{{ super() }}

<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <fieldset>
        <div role="group">
            {{ form.coefficient.label }}
            {{ form.coefficient(type="number", autocomplete="off") }}
         </div>
         <div role="group">
            {{ form.precision.label }}
            {{ form.precision(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Importer des notes</legend>

        <div role="group">
            {{ form.results.label }}
            {{ form.results() }}
        </div>
        <div role="group">
            {{ form.scale.label }}
            {{ form.scale(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    <input type="submit" value="Créer">
</form>
{% endblock %}
