{% extends "base.html" %}

{% set title = 'Résultats' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <div>
        <h1>{{ assessment.title }}</h1>
        <p>Créé par <em>{{ assessment.creator|default('un inconnu', True) }}</em>, le <em>{{ assessment.creation_date.strftime('%d/%m/%Y') }}</em></p>
    </div>
    {% include 'assessments/assessment/menu.html' %}
</div>

<div role="table" class="flex">
{% for result in assessment.results %}
    <ul role="row">
        <li role="cell">
            <span class="heading">
                Identifiant
            </span>
            {{ result.student.identifier }}
        </li>
        <li role="cell">
            <span class="heading">
                Note brute
            </span>
            {{ result.score|round(assessment.precision) }}
            / {{ result.scale }}
        </li>
        <li role="cell">
            <span class="heading">
                Note ajustée
            </span>
            {{ result.value|round(assessment.precision) }}
            / {{ result.scale }}
        </li>
    </ul>
{% endfor %}
</div>
{% endblock %}
