{% extends "base.html" %}

{% set title = 'Utilisateurs' %}
{% set module = 'utilisateurs' %}
{% set section = 'personnes' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>Utilisateurs</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('users.user_creation') }}">
                Ajouter
            </a>
        </li>
    </menu>
    {% include 'users/menu.html' %}
</header>

<ul class="user active cards deck">
    {% for user in users %}
    <li>
        <a href="{{ url_for('users.user', identifier=user.identifier) }}">
            <div class="heading">
                <p>
                    {{ user.fullname }}
                </p>
            </div>
            <div class="content">
                Email :
                {{ user.email }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
