<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>linnote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentification/master.css') }}">
    </head>
    <body>
        <main>
            <h1>linnote</h1>

            <form method="post">
                {{ form.csrf_token }}
            
                <div role="group">
                    {{ form.identifier.label }}
                    {{ form.identifier(autofocus="on") }}
                </div>
            
                <div role="group">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
            
                <input type="submit" value="connexion">
            </form>
        </main>
        <footer>
            <p class="copyright">
                A. HANNIET © 2018, <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License</a>.
            </p>
        </footer>
    </body>
</html>
