{% extends 'base.html' %}

{% set active_page = 'compte' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
    <div class="module">
        <div>
            <h1>Mon compte</h1>
            {% include 'menu.html' %}
        </div>
        <div role="toolbar">
            <menu type="toolbar">
                <li>
                    <a href="{{ url_for('account.logout') }}">
                        Déconnexion
                    </a>
                </li>
            </menu>
        </div>
    </div>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.csrf_token }}

    <fieldset>
        <div role="group">
            {{ form.firstname.label }}
            {{ form.firstname() }}
        </div>

        <div role="group">
            {{ form.lastname.label }}
            {{ form.lastname() }}
        </div>
    </fieldset>

    <div role="group">
        {{ form.email.label }}
        {{ form.email() }}
    </div>

    <input type="submit" value="enregistrer">
</form>
{% endblock %}
