@charset "UTF-8";

/*
Main styles for the accounts application

Author: Anatole Hanniet, 2016-2018.
License: Mozilla Public License, see 'LICENSE.txt' for details.
*/

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
}

body {
    display: grid;
    grid: "main" auto
          "footer" min-content
          / 1fr;
    background-color: hsl(340, 5%, 95%);
}

main {
    grid-area: main;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    width: 100vw;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brand {
    font-family: 'Open Sans';
    font-weight: 100;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    text-align: center;
    color: hsla(0, 0%, 0%, 0.33);
}

hr {
    height: 1px;
    width: 3rem;
    background-color: hsla(0, 0%, 0%, 0.1);
    border: none;
    margin: .75rem 0 1.5rem 0;
}

form {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
}

input {
    border-width: 1px 1px 2px 1px;
}
