{% extends "base.html" %}

{% set title = 'Utilisateurs' %}
{% set active_page = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
    <div class="module">
        <div role="navigation">
            <h1>Utilisateurs</h1>
            <menu type="navigation">
                <li>
                    <a href="{{ url_for('users.users') }}">
                        Utilisateurs
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('users.groups') }}">
                        Groupes
                    </a>
                </li>
            </menu>
        </div>
        <div role="toolbar">
            <menu type="toolbar">
                <li>
                    <a href="{{ url_for('users.user') }}">
                        Ajouter
                    </a>
                </li>
            </menu>
        </div>
    </div>
{% endblock %}

{% block content %}
<ul class="cards">
    {% for user in users %}
    <li>
        <div class="header">
            <p>
                {% if user.is_staff %}🎖{% endif %}
                {{ user.fullname }}
            </p>
        </div>
        <div class="content">
            <em>Email</em> : {{ user.email }}
        </div>
        <div class="footer quick-actions">
            <a href="{{ url_for('users.user', identifier=user.identifier) }}">
                Détails
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
