{% extends "base.html" %}

{% set title = user.fullname %}
{% set active_page = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ title }}</h1>
</header>
<section>
    <header>
        <div>
            <h2>Identité</h2>
            <p>
                L'adresse email sert d'identifiant de connexion à la plateforme.
            </p>
        </div>

        <input form="identity" type="submit" value="enregistrer">
    </header>

    <div class="sub">
        <form id="identity" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <fieldset>
                <div role="group">
                    {{ form.firstname.label }}
                    {{ form.firstname(autofocus="autofocus") }}
                </div>

                <div role="group">
                    {{ form.lastname.label }}
                    {{ form.lastname() }}
                </div>
            </fieldset>

            <div role="group">
                {{ form.email.label }}
                {{ form.email() }}
            </div>
        </form>
    </div>
</section>
<section>
    <header>
        <div>
            <h2>
                Sécurité
            </h2>
        </div>
    </header>
    <div class="sub">
        <div class="heading">
            <h3>Jeton de connexion</h3>
            <p>
                Ce lien temporaire (valide pour une heure), permet à l'utilisateur de se connecter sans mot de passe pour initialiser ou réinitialiser son compte.
            </p>
        </div>

        <input type="text" readonly value="{{ url_for('account.login', token=user.access_token(), _external=True) }}">
    </div>
</section>
<section>
    <header>
        <h2>Confidentialité</h2>
    </header>
    <div class="danger sub">
        <div class="heading">
            <h3>
                Supprimer le compte
            </h3>
            <p class="informations">
                <em>La suppression du compte est définitive, les données de l'utilisateur ne pourront pas être restaurées</em>.
                Veuillez noter et informer l'utilisateur que certaines données associées à son compte seront conservées de manière anonyme pour le bon fonctionnement de la plateforme. De plus, veuillez noter et informer l'utilisateur que ses données persisteront quelques temps au sein des copies de sauvegarde de la plateforme mais seront à terme (délai imprévisible) également supprimées.
            </p>
        </div>
        <button type="button" class="xhr" data-action="{{ url_for('api.user', identifier=user.identifier) }}" data-method="delete">
            Supprimer le compte de {{ user.fullname }}
        </button>
    </div>
</section>
{% endblock %}
