{% extends "base.html" %}

{% set title = 'Utilisateurs' %}
{% set module = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>Utilisateurs</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('users.user_creation') }}">
                Ajouter
            </a>
        </li>
    </menu>
    <menu type="navigation">
        <li>
            <a href="{{ url_for('users.users') }}">
                personnes
            </a>
        </li>
        <li>
            <a href="{{ url_for('users.groups') }}">
                groupes
            </a>
        </li>
    </menu>
</header>

<ul class="cards">
    {% for user in users %}
    <li>
        <div class="header">
            <p>
                {% if user.is_staff %}🎖{% endif %}
                {{ user.fullname }}
            </p>
        </div>
        <div class="content">
            <em>Email</em> : {{ user.email }}
        </div>
        <div class="footer quick-actions">
            <a href="{{ url_for('users.user', identifier=user.identifier) }}">
                Détails
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
