@charset "UTF-8";
/*
Styling for header section.

Author: Anatole Hanniet, 2016-2018.
License: Mozilla Public License, see 'LICENSE.txt' for details.
*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
}

header a {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
    transition: color 100ms ease-out;
}

header a:hover, header a:focus, header a:active, a.active {
    color: white !important;
    transition: color 100ms ease-in;
}

header nav {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: stretch;
    }

header nav li {
    display: flex;
    align-items: strech;
}

header nav li:not(:last-child) {
    margin-right: 0.7rem;
}

h1 {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: "Droid Sans";
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(40, 40, 40);
}

@media screen and (min-width: 900px) {
    h1 {
        justify-content: flex-start;
    }
}

#brand {
    margin-right: 50px;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.5);
}

/* Main heading */
main [role="heading"] {
    display: flex;
    justify-content: space-between;
}

main [role="heading"] [role="navigation"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main [role="heading"] [role="navigation"] ul {
    display: flex;
}

main [role="heading"] [role="navigation"] li {
    display: flex;
}

main [role="heading"] [role="navigation"] li:not(:last-of-type) {
    margin-right: 10px;
}

main [role="heading"] [role="navigation"] a {
    font-size: 1rem;
}

main [role="heading"] [role="navigation"] a:hover, main [role="heading"] [role="navigation"] a:active, main [role="heading"] [role="navigation"] a:focus, main [role="heading"] [role="navigation"] a.selected {
    font-weight: bold;
}

main [role="heading"] [role="toolbar"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main [role="heading"] [role="toolbar"] menu {
    display: flex;
}

main [role="heading"] [role="toolbar"] li {
    display: flex;
}

main [role="heading"] [role="toolbar"] menu a {
    display: flex;
    height: 2rem;
    border-radius: 2px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: rgb(120, 120, 120);
    background-color: rgb(200, 200, 200);
}
