@charset "UTF-8";
/*
Styling for header section.

Author: Anatole Hanniet, 2016-2018.
License: Mozilla Public License, see 'LICENSE.txt' for details.
*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
}

header .site {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
}

header .site a {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
    transition: color 100ms ease-out;
}

header .site a:hover, header .site a:focus, header .site a:active, header .site a.active {
    color: white !important;
    transition: color 100ms ease-in;
}

header .site nav {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

header .site nav ul {
    height: 100%;
    display: flex;
    align-items: stretch;
    }

header .site nav li {
    display: flex;
    align-items: strech;
}

header .site nav li:not(:last-child) {
    margin-right: 0.7rem;
}

#brand {
    margin-right: 50px;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.5);
}

/* Module header */
header .module {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: hsl(338, 52%, 40%);
}

/* Module navigation */
header .module [role="navigation"] {
    display: flex;
    flex-direction: column;
}

header .module [role="navigation"] menu {
    display: flex;
}

header .module [role="navigation"] li {
    display: flex;
}

header .module [role="navigation"] a {
    padding: .5rem;
    font-size: 1rem;
    color: white;
    border-bottom: 5px solid transparent;
}

header .module [role="navigation"] a:hover, header .module [role="navigation"] a:active, header .module [role="navigation"] a:focus,header .module [role="navigation"] a.selected {
    border-bottom: 5px solid white;
}

/* Module menu */
header .module [role="toolbar"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .module [role="toolbar"] menu {
    display: flex;
}

header .module [role="toolbar"] li {
    display: contents;
}

header .module [role="toolbar"] li:not(:last-of-type) {
    margin-right: .2rem;
}

header .module [role="toolbar"] a {
    display: flex;
    height: 2rem;
    border-radius: 2px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

header .module [role="toolbar"] a:active, header .module [role="toolbar"] a:hover, header .module [role="toolbar"] a:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
