@charset "UTF-8";

@import url('normalize.css');
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('header.css');
@import url('forms.css');
@import url('cards.css');
@import url('messages.css');

html {
    font-size: 16px;
    font-family: "Droid Sans";
}

body {
    display: grid;
    grid-template: "header" min-content
                   "main" auto
                   / 1fr;
}

header, footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    display: grid;
    grid-template: min-content / 1fr;
    grid-auto-rows: min-content;
}

@media screen and (min-width: 600px) {
    main {
        grid-template: min-content / repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template: min-content / repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template: min-content / repeat(6, 1fr);
    }
}

main > :nth-child(n) {
    grid-column: 1 / -1;
    padding: 1rem;
}

/* Dirty section */

.action-box.sensitive .information {
    font-size: 1rem;
}

.action-box.sensitive .title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.action-box.sensitive button {
    margin-top: .5rem;
    max-width: none;
    height: min-content;
    font-size: 1rem;
    font-weight: 200;
    padding: 0.8rem 1rem;
    background-color: rgb(212, 38, 46);
}

.action-box.sensitive button:hover {
    background-color: rgb(192, 38, 46)
}

.action-box.sensitive {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(223, 201, 201);
    padding: 1rem 1.5rem;
    border-radius: 3px;
}



@media screen and (min-width: 900px) {

    .action-box.sensitive {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .action-box.sensitive .description {
        margin-right: 5rem;
    }

    .action-box.sensitive button {
        white-space: nowrap;
    }
}

a[type="button"]:hover, button:hover {
    background-color: var(--color-main-light);
}

a, button {
    cursor: pointer;
}

[type="button"], button {
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    max-width: 10rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.15rem;
    color: white;
    background-color: var(--color-main);
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
}

/* Flex tables */

[role="table"].flex [role="row"] {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 0.3rem;
    padding: 1rem;
}

[role="table"].flex > [role="row"] > [role="cell"]:not(:last-child) {
    margin-right: 0.5rem;
}

[role="table"].flex [role="row"] [role="cell"] .heading {
    display: block;
    font-weight: bold;
}

em {
    font-weight: bolder;
    font-style: normal;
}
