@charset "UTF-8";

@import url('normalize.css');
@import url('reset.css');
@import url('fonts.css');
@import url('colors.css');
@import url('header.css');
@import url('forms.css');
@import url('cards.css');
@import url('messages.css');

html {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

body {
    display: grid;
    grid-template: min-content 1fr / 1fr;
}

header, footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    display: grid;
    grid-template: min-content / 1fr;
}

@media screen and (min-width: 600px) {
    main {
        grid-template: min-content / repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
    main {
        grid-template: min-content / repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template: min-content / repeat(6, 1fr);
    }
}

main > :nth-child(n) {
    grid-column: 1 / -1;
    padding: 1rem;
}

[role="navigation"].secondary, menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

[role="navigation"].secondary > li, menu > li {
    display: flex;
    margin: 0.15rem;
}

[role="navigation"].secondary a, menu a {
    padding: 0.5rem 1.5rem;
    width: 100%;
    font-weight: bold;
    color: rgb(120, 120, 120);
    text-align: center;
    border-radius: 40px;
    background-color: rgba(209, 209, 209, 0.671);
}

[role="navigation"].secondary a:hover, menu a:hover {
    color: white;
    background-color: rgb(180, 180, 180);
}

/* Dirty section */

.action-box.sensitive .information {
    font-size: 1rem;
}

.action-box.sensitive .title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.action-box.sensitive button {
    margin-top: .5rem;
    max-width: none;
    height: min-content;
    font-size: 1rem;
    font-weight: 200;
    padding: 0.8rem 1rem;
    background-color: rgb(212, 38, 46);
}

.action-box.sensitive button:hover {
    background-color: rgb(192, 38, 46)
}

.action-box.sensitive {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(223, 201, 201);
    padding: 1rem 1.5rem;
    border-radius: 3px;
}



@media screen and (min-width: 900px) {
    [role="navigation"].secondary, menu {
        grid-column: 2 / 3;
        justify-content: flex-end;
    }

    [role="navigation"].secondary > li {
        margin: 0;
    }

    [role="navigation"].secondary li:not(:last-child) {
        margin-right: 0.3rem;
    }

    .action-box.sensitive {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .action-box.sensitive .description {
        margin-right: 5rem;
    }

    .action-box.sensitive button {
        white-space: nowrap;
    }
}

a[type="button"]:hover, button:hover {
    background-color: var(--color-main-light);
}

a, button {
    cursor: pointer;
}

[type="button"], button {
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    max-width: 10rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.15rem;
    color: white;
    background-color: var(--color-main);
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
}

/* Flex tables */

[role="table"].flex [role="row"] {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 0.3rem;
    padding: 1rem;
}

[role="table"].flex > [role="row"] > [role="cell"]:not(:last-child) {
    margin-right: 0.5rem;
}

[role="table"].flex [role="row"] [role="cell"] .heading {
    display: block;
    font-weight: bold;
}

em {
    font-weight: bolder;
    font-style: normal;
}

/* Toolbar */
div[role="toolbar"].group {
    grid-column: 1 / auto;
    display: flex;
}

div[role="toolbar"].group > :not(:last-child) {
    margin-right: 1rem;
}

menu[role="toolbar"].secondary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 2px;
    height: 2rem;
    width: fit-content;
    padding: 0;
}

menu[role="toolbar"].secondary > ul {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
}

menu[role="toolbar"].secondary button, menu[role="toolbar"].secondary a {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0 0.4rem;
    background-color: transparent;
    border-radius: 0;
    color: grey;
    font-weight: 400;
    white-space: nowrap;
}

menu[role="toolbar"].secondary button:hover, menu[role="toolbar"].secondary a:hover {
    background-color: rgb(240, 240, 240);
}

menu[role="toolbar"].secondary > ul:not(:last-child) {
    border-right: 1px solid rgb(200, 200, 200);
}
