{% extends "base.html" %}

{% set title = group.name %}
{% set active_page = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ title }}</h1>
    <menu type="navigation">
        <li>
            <a href="{{ url_for('users.group_members', identifier=group.identifier) }}">
                membres
            </a>
        </li>
        <li>
            <a href="{{ url_for('users.group', identifier=group.identifier) }}">
                paramètres
            </a>
        </li>
    </menu>
</header>
<section>
    <header>
        <h2>Statistiques</h2>
    </header>
    <div class="sub">
        Taille : {{ group.members|length }}
    </div>
</section>
<section>
        <header>
            <h2>Membres</h2>
        </header>
        <div class="sub list">
            {% for user in group.members %}
                <div>
                    <p>{{ user.fullname }}</p>
                    <span></span>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
