{% extends "base.html" %}

{% set title = group.name %}
{% set active_page = 'utilisateurs' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>{{ title }}</h1>
</header>
<section>
    <header>
        <h2>Paramètres</h2>
        <input form="group" type="submit" value="enregistrer">
    </header>
    <div class="sub">
        <form id="group" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div role="group">
                {{ form.name.label }}
                {{ form.name(autocomplete="off", autofocus="on") }}
            </div>

            <div role="group">
                {{ form.students.label }}
                {{ form.students() }}
            </div>
        </form>
    </div>

</section>
<section>
    <header>
        <div>
            <h2>Suppression</h2>
            <p>
                La suppression d'un groupe est irréversible, celle-ci n'entraîne pas la suppression des comptes utilisateurs membres du groupe.
            </p>
        </div>
    </header>
    <div class="sub">
        <button class="xhr" type="button" name="button" data-method="delete" data-action="{{ url_for('api.group', identifier=group.identifier) }}">
                Supprimer
            </button>
    </div>
</section>
{% endblock %}
