<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        <meta charset="utf-8">

        <title>{% block title %}linnote{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Style -->
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/master.css') }}">

        <!-- Animation -->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/master.js') }}" defer></script>
    {% endblock %}
    </head>
    <body>
        <header>
            <a id="brand" href="#">
                linnote
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('admin.groups') }}">Étudiants</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.assessments') }}">Épreuves</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.reports') }}">Classements</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        {% block content %}
            Hello The World !
        {% endblock %}
        </main>
        <footer>
            <p>
                Copyright © 2014-2017, <a href="https://github.com/natolh">A. HANNIET</a> — <a href="https://www.mozilla.org/en-US/MPL/2.0/">Licence</a>.
            </p>
        </footer>
    </body>
</html>
