{% extends "base.html" %}

{% block title %}
    Nouveau groupe | {{ super() }}
{% endblock %}

{% block content %}
<h1>Nouveau groupe d'étudiants</h1>

<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <div role="group">
        {{ form.students.label }}
        {{ form.students() }}
    </div>

    <input type="submit" value="Créer">
</form>
{% endblock %}
