{% extends "base.html" %}

{% set title = 'Épreuves' %}
{% set active_page = 'épreuves' %}

{% block header %}
{% include 'workspaces/admin.html' %}
{% endblock %}

{% block content %}
<header>
    <h1>Épreuves</h1>
    <menu type="toolbar">
        <li>
            <a href="{{ url_for('assessments.merger') }}">
                Fusionner
            </a>
        </li>
        <li>
            <a href="{{ url_for('assessments.assessment_creation') }}">
                Ajouter
            </a>
        </li>
    </menu>
</header>

<ul class="cards">
    {% for assessment in assessments %}
    <li>
        <div class="header">
            {{ assessment.title }}
        </div>
        <ul class="content">
            <li>
                <em>Date de création : </em>
                {{ assessment.creation_date.strftime('%d/%m/%Y') }}
            </li>
            <li>
                <em>Auteur : </em>
                {{ assessment.creator }}
            </li>
        </ul>
        <div class="footer quick-actions">
            <a href="{{ url_for('assessments.assessment', identifier=assessment.identifier) }}">
                Détails
            </a>
            <a href="{{ url_for('assessments.report', identifier=assessment.identifier) }}" target="_blank">
                Rapport
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
