{% extends "base.html" %}

{% set title = "Fusion d'épreuves" %}
{% set active_page = 'épreuves' %}

{% block body %}
    {% include 'workspaces/admin.html' %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="topping">
    <h1>{{ title }}</h1>
</div>
<form method="post">
    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title() }}
    </div>

    <div role="group">
        {{ form.assessments.label }}
        {{ form.assessments() }}
    </div>

    <input type="submit" value="fusionner">
</form>
{% endblock %}
