<!-- Submenu for assessment module -->
<menu type="navigation">
    <li>
        <a href="{{ url_for('assessments.report', identifier=assessment.identifier) }}" target="_blank">
            Classement
        </a>
    </li>
    <li>
        <a href="{{ url_for('assessments.results', identifier=assessment.identifier) }}">
            Résultats
        </a>
    </li>
    <li>
        <a href="{{ url_for('assessments.assessment', identifier=assessment.identifier) }}">
            Paramètres
        </a>
    </li>
</menu>
