{% extends "base.html" %}

{% set title = 'Nouvelle épreuve' %}
{% set active_page = 'épreuves' %}

{% block header %}
    {% include 'workspaces/admin.html' %}
    <div class="module">
    {% if assessment is defined %}
        <div>
            <h1>{{ assessment.title }}</h1>
            {% include 'assessment/menu.html' %}
        </div>
    {% else %}
        <div>
            <h1>
                Nouvelle épreuve
            </h1>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div role="group">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", autofocus="on") }}
    </div>

    <fieldset>
        <div role="group">
            {{ form.coefficient.label }}
            {{ form.coefficient(type="number", autocomplete="off") }}
         </div>
         <div role="group">
            {{ form.precision.label }}
            {{ form.precision(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Importer des notes</legend>

        <div role="group">
            {{ form.results.label }}
            {{ form.results() }}
        </div>
        <div role="group">
            {{ form.scale.label }}
            {{ form.scale(type="number", autocomplete="off") }}
        </div>
    </fieldset>

    {% if assessment is defined %}
        <input type="submit" value="Modifier">
    {% else %}
        <input type="submit" value="Créer">
    {% endif %}
</form>

{% if assessment %}
<section>
    <div class="action-box sensitive">
        <div class="description">
            <p class="title">
                Supprimer l'épreuve
            </p>
            <p class="informations">
                <em>La suppression de l'épreuve est définitive, les données ne pourront pas être restaurées</em>. La suppression de l'épreuve entraîne la suppression des notes et des rapports associés.
            </p>
        </div>
        <button class="xhr" type="button" name="button" data-method="delete" data-action="{{ url_for('api.assessment', identifier=assessment.identifier) }}">
            Supprimer l'épreuve « {{ assessment.title }} »
        </button>
    </div>
</section>
{% endif %}

{% endblock %}
