{% extends "base.html" %}

{% block title %}
    Epreuves | {{ super() }}
{% endblock %}

{% block content %}
<menu type="toolbar">
    <li>
        <a href="{{ url_for('admin.assessment') }}">
            Créer
        </a>
    </li>
</menu>

<ul>
    {% for assessment in assessments %}
    <li>
        {{ assessment.stem }}
        <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.assessment', name=assessment.stem) }}')">
            Supprimer
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}
