{% extends "base.html" %}

{% block title %}
    Epreuves | {{ super() }}
{% endblock %}

{% block content %}
<menu type="toolbar">
    <li>
        <a href="{{ url_for('admin.assessment') }}">
            Créer
        </a>
    </li>
</menu>

<ul class="cards">
    {% for assessment in assessments %}
    <li>
        <div class="flex header">
            <p>
                {{ assessment.stem }}
            </p>
            <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.assessment', name=assessment.stem) }}')">
                Supprimer
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
