{% extends "base.html" %}

{% block title %}
    Epreuves | {{ super() }}
{% endblock %}

{% block content %}
<menu type="toolbar">
    <li>
        <a href="{{ url_for('admin.group') }}">
            Créer
        </a>
    </li>
</menu>

<ul>
    {% for group in groups %}
    <li>
        {{ group.name }}
        <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.group', name=group.name) }}')">
            Supprimer
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}
