{% extends "base.html" %}

{% block title %}
    Classements | {{ super() }}
{% endblock %}

{% block content %}
<menu type="toolbar">
    <li>
        <a href="{{ url_for('site.report') }}">
            Créer
        </a>
    </li>
</menu>

<ul>
    {% for report in reports %}
    <li>
        <a href="{{ url_for('site.report', name=report.stem) }}">
            {{ report.stem }}
        </a>
        <button type="button" name="button" onclick="xhr('DELETE', '{{ url_for('api.report', name=report.stem) }}')">
            Supprimer
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}
