{% extends "base.html" %}

{% block title %}
    Nouveau classement | {{ super() }}
{% endblock %}

{% block content %}
<h1>Nouveau rapport de classement</h1>

<form method="post">
    <div class="control">
        {{ form.title.label }}
        {{ form.title(autocomplete="off", pattern="[\w\.\- ]+") }}
    </div>


    <div class="control">
        {{ form.assessments.label }}
        {{ form.assessments() }}
    </div>

    <div class="control">
        {{ form.subgroups.label }}
        <p class="helper">
            {{ form.subgroups.description }}
        </p>
        {{ form.subgroups() }}
    </div>

    <input type="submit" value="Créer">
</form>
{% endblock %}
